<div>
    <form>
        <div>
            <mat-form-field appearance="outline">
            <mat-label>username</mat-label>
            <input type="text" matInput placeholder="username" id="username-input">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
            <mat-label>password</mat-label>
            <input type="password" matInput placeholder="password" id="password-input">
            </mat-form-field>
        </div>
    </form>
</div>